@{
    ViewBag.Title = "About";
}
<div class="form-wrapper">
    <h2 class="form-header text-center">About Us</h2>
    <div class="about">
        <p>At its core, the purpose for MusicHelper's existence is right there in the name. I set out to make this app as a way to help musicians of all level hone their craft. Whether you're just starting out, or have been playing for decades, this site exists to help eliminate aimlessly scrolling through the Internet in hopes you find a lesson that will accurately address what you are working on, at the time. I decided to also add on the tablature database, as well, so that way you have an immediate resource to apply the skills you learn in the lessons you find on the site.</p>
        <p>That being said, this site also exists for you to help out your fellow musicians. Maybe you're not in search of knowledge, but come across something that you think someone else may find beneficial. That is also where we come in. So please, create an account, take a look around, and let's get to work building a stronger knowledgebase for all of our fellow musicians.</p>
    </div>
</div>
