@{
    ViewBag.Title = "Contact";
}

<div class="form-wrapper text-center">
    <h2 class="form-header">Get in touch!</h2>

    <address>
        MusicHelper HQ<br />
        684 Hunting Creek Dr<br />
        Greenwood, IN, 46142 <br />
        <abbr title="Phone">P:</abbr>
        317.412.3412
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:micucci.joseph@gmail.com">micucci.joseph@gmail.com</a><br />
    </address>
    <h5>Do keep in mind that this is a one-man operation, so please be patient with response times!</h5>
</div>