@{
    ViewBag.Title = "Home Page";
}

<div class="jumbo-wrapper row">
    <div class="jumbo-container col-md-12">
        <img src="~/Content/Assets/musichelper2.png" style="width:1104px; height:325px;" />
        <p class="lead">Whether you're just starting out, or wanting to sharpen your skills, MusicHelp is your place. This database houses various lessons for musicians of all levels, as well as links to help you learn how to play your favorite songs!</p>
        <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="home-container row">
    <div class="home-card col-md-4">
        <h2>Instruments</h2>
        <p>
            Browse the list of supported instruments on the site. Don't see the instrument you're looking for? Login to your account and add an instrument to our database!
        </p>
        <p><a class="btn btn-default" href="/Instrument/Index">Check it out! &raquo;</a></p>
    </div>
    <div class="home-card col-md-4">
        <h2>Lessons</h2>
        <p>Here, you will find our selection of various lessons submitted by users. If you have a lesson you would like to add, simply login and add away!</p>
        <p><a class="btn btn-default" href="/Lesson/Index">Check it out! &raquo;</a></p>
    </div>
    <div class="home-card col-md-4">
        <h2>Tablature</h2>
        <p>Looking to learn a specific song? Our tablature library is the place to go! Of course, if you have a tune to share, that can be added as well!</p>
        <p><a class="btn btn-default" href="/Tablature/Index">Check it out! &raquo;</a></p>
    </div>
</div>