@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MusicHelper</h1>
    <p class="lead">Whether you're just starting out, or wanting to sharpen your skills, MusicHelp is your place. This database houses various lessons for musicians of all levels, as well as links to help you learn how to play your favorite songs!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instruments Supported</h2>
        <p>
            Browse the list of supported instruments on the site. Don't see the instrument you're looking for? Login to your account and add an instrument to our database!
        </p>
        <p><a class="btn btn-default" href="~/Views/Instrument/Index.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lessons</h2>
        <p>Here, you will find our selection of various lessons submitted by users. If you have a lesson you would like to add, simply login and add away!</p>
        <p><a class="btn btn-default" href="~/Views/Lesson/Index.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tablature</h2>
        <p>Looking to learn a specific song? Our tablature library is the place to go!</p>
        <p><a class="btn btn-default" href="~/Views/Tablature/Index.cshtml">Learn more &raquo;</a></p>
    </div>
</div>