@model IEnumerable<MusicHelp.Models.InstrumentListItem>

@{
    ViewBag.Title = "Index";
}

<h3>Here's our current list of supported instruments...</h3>

<div class="instrument row">
    @foreach (var item in Model)
    {
        <div class="instrument-container row">
            <div class="instrument-card">
                <div class="instrument-header text-center">
                    @Html.ActionLink(item.InstrumentName, "Details", new { id = item.InstrumentID }, new { @style = "color:#003300;" })
                </div>
                <div class="instrument-body text-center">
                    @Html.ActionLink("Update", "Edit", new { id = item.InstrumentID }, new { @style = "color:#003300;" }) •
                    @Html.ActionLink("Remove", "Delete", new { id = item.InstrumentID }, new { @style = "color:#003300;" })
                </div>
            </div>
        </div>
    }
</div>

<div class="index-footer row bottom text-center">
    <p>
        Don't see what you're looking for? @Html.ActionLink("Add a new instrument", "Create", new { @style = "color:#003300;" }) to the site!
    </p>
    <div class="index-footer-two row bottom text-center">
        Must be logged in to an active account.
    </div>
</div>


<!--Starred JavaScript in case starring method wants to get added to Instruments at later time.-->
@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var noteId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/note/" + noteId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });
    </script>
}
