body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navbard CSS*/
.navbar {
    background-color: darkgreen;
}

/*Index View CSS settings for Instruments*/

.instrument{
    display: block;
    padding: 1em 1em;
}

.instrument-container {
    padding: 1em 1em;
}

.instrument-card {
    border: 2px solid black;
    border-radius: 15px;
    min-height: 5em;
    background-color: #bff5c5;
}

.instrument-header{
    font-size: 30px;
}

.index-footer{
    margin: 0.75em;
    font-weight: bold;
}

.index-footer-two{
    padding: 0em;
    color: darkslategray;
    font-size: 12px;
    font-style: italic;
}

/*Index View CSS settings for Lessons & Tablature*/
.board {
    display: block;
    padding: 0.4em 0.75em;
    background-color: #e6ffe6;
    border-radius: 8px;
}

.board-container{
    padding: 0.5em 0.5em;
}

.board-card {
    border: 2px solid black;
    border-radius: 10px;
    min-height: 8em;
    min-width: 19em;
    background-color: #bff5c5;
}

.card-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-size: 18px;
    background-color: #3d8a46;
}

.card-body {
    padding: 7px 0px 0px 0px;
    font-size: 14px;
    color: #003300;
}

.card-editor{
    padding: 0px 0px 0px 2px;
    font-weight: bold;
}

.tab-menu{
    margin: 2em 0 0 0;
}

.nav{
    font-size: 16px;
}

.nav a:link{
    color: #003300;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #3d8a46;
    cursor: default;
    background-color: #e6ffe6;
    border: 1px solid #e6ffe6;
    border-bottom-color: #e6ffe6;
    font-weight: bold;
}

/*Delete Views CSS*/

.delete-box {
    color: #003300;
    margin: 10em 0.5em;
    padding: 1em 0.5em;
    text-align: center;
    background-color: #e6ffe6;
    border: 2px solid black;
    border-radius: 8px;
}

.delete-box > h2{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgreen;
    color: #e6ffe6;
}

.btn > a:hover{
    color: green;
}

/*Create & Edit Form CSS Settings*/
.form-wrapper {
    margin: 2em 1em;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: #bff5c5;
}


.form-horizontal{
    padding: 1em 1em;
}

.form-header{
    color: darkgreen;
    font-size: 18px;
    text-decoration: underline;
}

.form-group{
}

/*About page styling*/
.about{
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-style: italic;
}