body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Index View CSS settings for Instruments*/

.instrument{
    display: block;
    padding: 1em 1em;
}

.instrument-container {
    padding: 1em 1em;
}

.instrument-card {
    border: 2px solid black;
    border-radius: 15px;
    min-height: 5em;
    background-color: #bff5c5;
}

.instrument-header{
    font-size: 30px;
}

/*Index View CSS settings for Lessons & Tablature*/
.board{
    border: 1px solid black;
    display: block;
    padding: 1em 1em;
}

.board-container{
    padding: 1em 1em;
}

.board-card {
    border: 2px solid black;
    border-radius: 10px;
    min-height: 8em;
    min-width: 10em;
    background-color: #bff5c5;
}

.card-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-size: 18px;
    background-color: #3d8a46;
}

.card-body {
    padding: 7px 0px 0px 0px;
    font-size: 14px;
    color: #003300;
}

.card-editor{
    padding: 0px 0px 0px 2px;
}
