@model MusicHelp.Models.LessonDetail

@{
    ViewBag.Title = "Delete";
}

<div class="delete-box text-center">

    <h2>WAIT!</h2>

    <h3>Are you sure you want to remove "@Html.DisplayFor(model => model.LessonName)" from MusicHelper?</h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="button form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-sm" /> •
            @Html.ActionLink("Return to Lessons", "Index", new { @style = "color:#003300;" })
        </div>
    }
</div>
